<h1>Please Login Friend!</h1>

<form method="POST" action="/login">
    Email: <input type="text" name="email"/><br/>
    Password: <input type="text" name="email"/><br/>
    <input type="submit">
</form>