<h1>Please Login Friend!</h1>

<form method="POST" action="/login">
<br/>
    Email: 
    <br/>
    <input type="text" name="email"/><br/>
    <br/>
    Password: 
    <br/>
    <input type="password" name="password"/><br/>
    <br/>
    <input type="submit">
</form>