
<% @user && @user.errors %>
    <% @user.errors.full_messages.each do |error| %>
        <p class="error"><%=error%></p>
    <% end %>
<% end %>


<h1>Hi Friend! What is your awesome skill?</h1>

<form method="POST" action="/users">
    <label>Name:</label><br/>
    <input type="text" name="name"><br />
    <br />
    <label>Age:</label><br/>
    <input type="text" name="age"><br />
    <br />
    <label>Email:</label><br/>
    <input type="text" name="email"><br />
    <br />
    <label>Password:</label><br/>
    <input type="password" name="password"><br />
    <br />
    <input type="submit" value="sign up">

</form>