<h1>What is your awesome skill?</h1>

<form method="POST" action="/users">
    <label>Name:</label><br/>
    <input type="text" name="name"><br />

    <label>Age:</label><br/>
    <input type="text" name="age"><br />
    
    <label>Email:</label><br/>
    <input type="text" name="email"><br />

    <label>Password:</label><br/>
    <input type="password" name="password"><br />

</form>