<h1>What is your awesome skill?</h1>

<form method="POST" action="/users">
    <label>Name:</label><br/>
    <label>Age:</label><br/>
    <label>Email:</label><br/>
    <label>Password:</label><br/>

</form>