<h1>Welcome to the Skills Archive</h1>
<h2>You are more the welcome to <a href="/skills/new">create an amazing skill!</a></h2>

<% if @user_skills %>
<h2>Wow! Look at all the super amazing skills you have!</h2>
    <ul>
    <% @user_skills.each do |skill| %>
    <li><a href="skills/<%=skill.id%>"><%= skill.skill %></a></li>
    <% end %>
    </ul>
<% end %>


<h2>Here are some incredible skills</h2>
<ul>
<% @skills.each do |skill| %>
    <li><a href="skills/<%=skill.id%>"><%= skill.skill %> </a></li>
    <% end %>
</ul>